#mainLogo {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 600px) {
    #mainLogo {
      width: 50%;
      height: 50%;
    }
  }

.home_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
} 