* {
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  
}

.span_color{
  color: red;
  margin-left: 5px;
}

.process_sub_title{
  display: flex;
  justify-content: center;
  align-items: center;

}

.input_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}


.label_color{
  color: #6f6f6f; 
}

.input_phone{
  height: 20px;
  width: 70px;
}

.myselect{
  width: 100px;
  height: 25px;
}
.phone_sel{
  height: 25px;
  width: 70px;
  margin-left: 10px;
}

p {
  margin-left: 5px;
  width: 150px;
}


.info_box1{
  width: 80%;
  margin-top: 50px;
  margin-bottom: 5px;
}

.info_box2d{
  background-color: rgb(238, 238, 238); 
 margin-top: 50px;
  padding: 10px; 
  width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 13px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border: 0 none;
  border-radius: 6px;
  color: #fff;
  background-color: solid #085427;
}

.input_box{
  margin-top: 5px;
  width: 30px;
}

textarea{
  width: 1000px;
  height: 300px;
  margin: 10px;
}

input{
  width: 100%;
  height: 20px;
  margin-left: 10px;
}

.left_box{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
}
.left_box1{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  font-size: 15px;
}

.border_box{
  border-bottom: solid 1px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
}

.first_box {
  background-color: #EEEEEE;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.process_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: white;
  height: 1250px;
  width: 1400px;
}

.process_box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid #085427;
  border-top: 3px solid #085427;;
  height: 120px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 1250px;
  width: 1400px;
}

.process_title {
  font-size: 32px;
  margin-bottom: 20px;
}

.process_box2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.process_box3 {
  margin: 30px;
  height: 300px;
  width: 250px;
  border: 1px solid black;
  border-radius: 20px;

}

@media screen and (max-width: 1000px) {
  
  .first_box {
      background-color: #EEEEEE;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .process_box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid #085427;
    border-top: 3px solid #085427;;
    height: 150px;
  }
  
  .process_box {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: white;
    height: 100%;
    width: 100%;
  }

  form{
    display: flex;
      align-items: center;
      margin: 20px;
      background-color: white;
      height: 100%;
      width: 100%;
  }
  
  .info_box2d{
    background-color: rgb(238, 238, 238); 
    font-size: 10px;
    padding: 10px; 
    width: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
.process_sub_title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
}